includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 8
	paths:
		- inskrift.php
		- src
		- tests
	scanFiles:
		- tests/phpstan-stubs/wordpress-tests.php
	treatPhpDocTypesAsCertain: false
